<h1 class="text-center">Welcome to the hotel management system!</h1>
<h3 class="text-center">Are you a User?</h3>
<div class="container">
<div class="grid text-center">
<div><%= link_to "Log In", login_path,class: "btn btn-primary"%></div>
</div>
</div>
<br>
<div class="container">
<div class="grid text-center">
<div><%= link_to "Signup", signup_path,class: "btn btn-primary" %></div>
</div>
</div>
<h3 class="text-center">Are you a Admin?</h3>
<div class="container">
<div class="grid text-center">
<div><%= link_to "Log In", login_path,class: "btn btn-primary"%></div>
</div>
</div>